.nav {
    background-color: #DCC9AC;
}

.navtitle {
    font-family: 'jmh';
    letter-spacing: 0.05em;
    font-size: 18px;
}

.btnBoutique {
    background-color: #0B634C;
}

.divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
}
