<section>
    <nav class="border-gray-100">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-3 px-1">
            <a href="/" class="flex items-center space-x-2 rtl:space-x-reverse">
                <img [ngSrc]="logoUrl" priority [alt]="" width="100" height="80" />
                <span class="navtitle whitespace-nowrap">Nostradamousse</span>
            </a>
            <div class="flex md:order-2 space-x-3 mx-1 md:space-x-0 rtl:space-x-reverse btnBoutique rounded-lg">
                <a href="/boutique"><button type="button" class="text-white  focus:ring-4 focus:outline-none font-medium  text-sm px-4 py-2 text-center">Boutique</button></a>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 px-2" id="navbar-cta">
                <ul class="flex flex-col font-small  mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
                    <li class="sparkles-nav" (mousemove)="onMouseMove($event)">
                        <a href="/impressions" class="block py-1 px-2 text-gray-900 rounded-lg hover:bg-orange-200">Impressions</a>
                    </li>
                    <li class="sparkles-nav" (mousemove)="onMouseMove($event)">
                        <a href="/artisanat" class="block py-1 px-2 text-gray-900 rounded-lg hover:bg-orange-200">Artisanat</a>
                    </li>
                    <li class="sparkles-nav" (mousemove)="onMouseMove($event)">
                        <a href="/edition" class="block py-1 px-2 text-gray-900 rounded-lg hover:bg-orange-200">Edition</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
