<section>
    <div class="flex items-center justify-center gap-3">
        @for (c of categories; track c) {
            <button class="bg-white  rounded-sm p-2 text-sm">{{c.label}}</button>
        }
    </div>
    <div class="grid p-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 p-2 gap-3">
            @for(i of items; track i.name) {
                @if (i.available) {
                        <app-item [item]="i" />
                }
            }
            @for(i of items; track i) {
                @if (!i.available) {
                        <app-item [item]="i" />
                }
            }
    </div>
</section>
