<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }
</style>


<section>
      @defer {
        <div class="px-4 fadeIn w-full">
            <h2 class="title">Nostradamousse</h2>
          <div class="homeCards flex items-center justify-center grid grid-cols-1 md:grid-cols-3 gap-8 py-4 px-64 text-center ">
              <div class="my-4" (mousemove)="onMouseMove($event)">
                <a href="/impressions"><h3 class=" py-6 rounded-lg bg-orange-200">Impressions</h3></a>
              </div>
              <div class="my-4" (mousemove)="onMouseMove($event)">
                <a href="/edition"><h3 class=" py-6 rounded-lg bg-orange-200">Editions</h3></a>
              </div>
              <div class="my-4" (mousemove)="onMouseMove($event)">
                <a href="/artisanat"><h3 class=" py-6 rounded-lg bg-orange-200">Artisanat</h3></a>
              </div>
          </div>

          <img [ngSrc]="birdUrl" priority height="100" width="100" class="fadeInFixed loadingImg" />
          <div class="gridImg flex items-center justify-between  grid grid-cols-1 md:grid-cols-4 rounded-lg">
            <img [ngSrc]="lino1Url" priority height="150" width="150" class="fadeInImage object-cover aspect-square w-full p-2" />
            <img [ngSrc]="lino2Url" height="150" width="150" class="object-cover aspect-square fadeInImage w-full p-2" />
            <img [ngSrc]="lino3Url" height="150" width="150" class="object-cover aspect-square fadeInImage w-full p-2" />
            <img [ngSrc]="lino4Url" height="150" width="150" class="object-cover aspect-square fadeInImage w-full p-2" />
          </div>
        </div>
      }
      @loading (minimum 3s) {
        <div class="home fadeIn">
          <img [ngSrc]="logoUrl" [alt]="" priority class="loadingImg rotateSlow" width="80" height="80" />
        </div>
      }
</section>