@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
    background-color: #F7EBD8;
}


@keyframes frames {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.rotateSlow {
    animation: frames 4s linear infinite;
}
