@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
    background-color: #F7EBD8;
}


@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.rotateSlow {
    animation: rotate 4s linear infinite;
}

@keyframes fadein {
    0% { opacity: 0; margin-top: -50px; }
    50% { margin-top: inherit; }
    100% { opacity: 1; }
}


.fadeinQuick {
    animation: fadein 2s linear;
}

.fadeinSlow {
    animation: fadein 4s linear;
}

.fadeinXSlow {
    animation: fadein 6s linear;
}