@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: font42;
    src: url(assets/fonts/1942.ttf) format("truetype");
}

@font-face {
    font-family: daisy;
    src: url(assets/fonts/daisywhl.otf) format("opentype");
}

@font-face {
    font-family: jmh;
    src: url(assets/fonts/JMHTypewriter-Thin.otf) format("opentype");
}

@font-face {
    font-family: please;
    src: url(assets/fonts/please.ttf) format("truetype");
}

@font-face {
    font-family: writerz;
    src: url(assets/fonts/TypewriterzDemoRegular.ttf) format("truetype");
}

html { 
    background-color: #F7EBD8;
}


* {
    box-sizing: border-box;
    font-family: 'daisy';
}

h1, h2, h3 {
    font-family: 'jmh';
    padding: 0.25em;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.rotateSlow {
    animation: rotate 4s linear infinite;
}

@keyframes fadeout {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}

.fadeOut {
    animation: fadeout 2s linear;
}

@keyframes fadein {
    0% { opacity: 0; margin-top: -50px; }
    50% { margin-top: inherit; }
    100% { opacity: 1; }
}


.fadeinQuick {
    animation: fadein 2s linear;
}

.fadeinSlow {
    animation: fadein 4s linear;
}

.fadeinXSlow {
    animation: fadein 6s linear;
}


/* Étincelles */
.sparkle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--bg-color);
    border-radius: 150%;
    pointer-events: none;
    opacity: 0;
    animation: sparkle-animation 1s ease-in-out forwards;
}

@keyframes sparkle-animation {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 0.2;
    }
    60% {
        transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale-max));
        opacity: 0.4;
    }
    100% {
        transform: translate(var(--translate-x), var(--translate-y-drop)) scale(0);
        opacity: 0;
    }
}